@namespace BlazorBeerCss

<div class="field @Alignement.GetEnumDescription() @Type.GetEnumDescription()">
    @ChildContent
    @if (!string.IsNullOrEmpty(HelperText))
    {
        <span class="helper">@HelperText</span>
    }
    @if (!string.IsNullOrEmpty(ErrorText))
    {
        <span class="error">@ErrorText</span>
    }
</div>

@code {
    [Parameter] public BeerAlignments Alignement { get; set; } = BeerAlignments.Default;
    [Parameter] public BeerFieldTypes Type { get; set; } = BeerFieldTypes.Default;
    [Parameter] public string? ErrorText { get; set; } = string.Empty;
    [Parameter] public string? HelperText { get; set; } = string.Empty;
    [Parameter] public RenderFragment? ChildContent { get; set; }


}
