@namespace BlazorBeerCss
@using Extensions;
@using Helpers;
<h5 class="@Text.GetEnumDescription() @Size.GetEnumDescription()">
    @ChildContent
</h5>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public BeerTexts Text { get; set; } = BeerTexts.Default;
    [Parameter] public BeerSizes Size { get; set; } = BeerSizes.Default;
}
