@using BlazorBeerCss.Helpers;
@using BlazorBeerCss.Extensions;

<nav class="@Position.GetEnumDescription() @Responsive.GetEnumDescription()">
    @ChildContent
</nav>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public BeerPositions Position { get; set; } = BeerPositions.Default;
    [Parameter] public BeerResponsive Responsive { get; set; } = BeerResponsive.Default;
}