@using BlazorBeerCss.Helpers;
@using BlazorBeerCss.Extensions;


<nav class="@BeerResponsive.Large.GetEnumDescription() @BeerResponsive.Medium.GetEnumDescription() @Position.GetEnumDescription()">
    @ChildContent
</nav>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public BeerPositions Position { get; set; } = BeerPositions.Left;
}
