@namespace BlazorBeerCss
@inherits LayoutComponentBase

<main class="@Responsive.GetEnumDescription() @Position.GetEnumDescription() @Theme.GetEnumDescription()">
    @ChildContent
</main>

@code {
    [Parameter] public BeerResponsive Responsive { get; set; } = BeerResponsive.Default;
    [Parameter] public BeerPositions Position { get; set; } = BeerPositions.Default;
    [Parameter] public BeerThemes Theme { get; set; } = BeerThemes.Default;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
